# Environment variables
.env

#virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/*.pyc
*/migrations/__pycache__/

# SQLite database
db.sqlite3
*.log

# Django secret key file
secret_key.txt
secrets.json

# OS
Thumbs.db
.DS_Store

# Gunicorn
gunicorn.pid