body {
    
    background-color: #f0f0f0;
    background-image: url("../img/bg-xmas-cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh; 
}